/* Legendary.css 0.10a June 2023 by Noble HideToshi */
/* "Make it as simple as possible, but not simpler."
Albert Einstein */
html{  display: block;}
body{  display: block; }

.le6y-text {
	background-color: green;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight:400;
	margin:10px 0;
}
.le6y-box {
	display: block;
	background: black;
}
.le6y-container {

}
.le6y-image {

}
.le6y-aqua {
	background-color: aqua;
}
.le6y-amber {
	background-color: amber;
}
.le6y-black {
	background-color: black;
}
.le6y-blue {
	background-color: blue;
}
.le6y-light-blue {
	background-color: lightblue;
}
.le6y-dark-blue {
	background-color: darkblue;
}
.le6y-pink {
	background-color: pink;
}
.le6y-lime {
	background-color: lime;
}
.le6y-purple {
	background-color: purple;
}
.le6y-light-purple {
	background-color: purple;
}
.le6y-dark-purple {
	background-color: purple;
}
.le6y-deep-purple {
	background-color: purple;
}
.le6y-teal {
	background-color: teal;
}
.le6y-red, .le6y-hover-red:hover {
    background-color: #fff!important;
    background-color: #f44336!important;
}
.le6y-dark-red {
	background-color:red;
}
.le6y-orange {
	background-color: orange;
}
.le6y-dark-orange {
	background-color: orange;
}
.le6y-deep-orange {
	background-color: orange;
}
.le6y-sand {
	background-color: sand;
}
.le6y-yellow {
	background-color: yellow;
}
.le6y-brown {
	background-color: brown;
}
.le6y-grey {
	background-color: grey;
}
.le6y-green, .le6y-hover-green:hover {
    color: #fff!important;
    background-color: green!important;
}
.le6y-light-green {
	background-color: green;
}
.le6y-dark-green {
	background-color: green;
}
.le6y-cyan {
	background-color: cyan;
}
.le6y-olive {
	background-color: olive;
}
.le6y-emerald {
	background-color: emerald;
}
.le6y-cobalt {
	background-color: cobalt;
}
.le6y-violet {
	background-color: violet;
}
.le6y-taupe {
	background-color: taupe;
}
.le6y-sienna {
	background-color: sienna;
}
.le6y-crimson {
	background-color: crimson;
}
.le6y-magenta {
	background-color: magenta;
}
.le6y-steel {
	background-color: steel;
}
.le6y-indigo {
	background-color: indigo;
}
.le6y-text-color-green {
	text-background-color: green;
}
.le6y-mauve {
	background-color: indigo;
}
.le6y-hover-green {
	text-background-color: green;
}
.le6y-turquoise {
	background-color: turquoise;
}
.le6y-green-sea {
	background-color: greensea;
}
.le6y-nephritis {
	background-color: nephritis;
}
.le6y-peter-river {
	background-color: peter-river;
}
.le6y-belize-hole {
	background-color: belize-hole;
}
.le6y-amethyst {
	background-color: amethyst;
}
.le6y-wisteria {
	background-color: wisteria;
}
.le6y-wet-asphalt {
	background-color: asphalt;
}
.le6y-midnight-blue {
	background-color: midnightblue;
}
.le6y-sun-flower {
	background-color: sunflower;
}
.le6y-carrot {
	background-color: carrot;
}
.le6y-pumpkin {
	background-color: pumpkin;
}
.le6y-alizarin {
	background-color: alizarin;
}
.le6y-pomegranate {
	background-color: pomegranate;
}
.le6y-clouds {
	background-color: clouds;
}
.le6y-silver {
	background-color: silver;
}
.le6y-concrete {
	background-color: concrete;
}
.le6y-asbestos {
	background-color: asbestos;
}
.le6y-marigold {
	background-color: marigold;
}
.le6y-cerulean {
	background-color: cerulean;
}
.le6y-rust {
	background-color: rust;
}
.le6y-illuminating {
	background-color: illuminating;
}
.le6y-french-blue {
	background-color: french-blue;
}
.le6y-green-ash {
	background-color: green-ash;
}
.le6y-burnt-coral {
	background-color: burnt-coral;
}
.le6y-mint {
	background-color: mint;
}
.le6y-amethyst-orchid {
	background-color: amethyst-orchid;
}
.le6y-raspberry-sorbet {
	background-color: raspberry-sorbet;
}
.le6y-inkwell {
	background-color: inkwell;
}
.le6y-ultimate-gray {
	background-color: ultimate-gray;
}
.le6y-buttercream {
	background-color: buttercream;
}
.le6y-desert-mist {
	background-color: desert-mist;
}
.le6y-willow {
	background-color: willow;
}
.le6y-flame-scarlet {
	background-color: flame-scarlet;
}
.le6y-saffron {
	background-color: saffron;
}
.le6y-biscay-green {
	background-color: biscay-green;
}
.le6y-chive {
	background-color: chive;
}
.le6y-faded-denim {
	background-color: faded-denim;
}
.le6y-orange-peel {
	background-color: orange-peel;
}
.le6y-mosaic-blue {
	background-color: mosaic-blue;
}
.le6y-sunlight {
	background-color: sun-light;
}
.le6y-coral-pink {
	background-color: coral-pink;
}
.le6y-cinnamon-stick {
	background-color: cinnamon-stick;
}
.le6y-grape-compote {
	background-color: grape-compote;
}
.le6y-lark {
	background-color: lark;
}
.le6y-navy-blazer {
	background-color: navy-blazer;
}
.le6y-brilliant-white {
	background-color: brillisant-white;
}
.le6y-ash {
	background-color: ash;
}
.le6y-amberglow {
	background-color: amberglow;
}
.le6y-samba {
	background-color: samba;
}
.le6y-sandstone {
	background-color: sandstone;
}
.le6y-classic-blue {
	background-color: blue;
}
.le6y-green-sheen {
	background-color: green-sheen;
}
.le6y-rose-tan {
	background-color: rose-tan;
}
.le6y-ultramarine-green {
	background-color: ultramarine-green;
}
.le6y-fired-brick {
	background-color: fire-brick;
}
.le6y-peach-nougat {
	background-color: peach-nougat;
}
.le6y-magenta-purple {
	background-color: magenta-purple;
}
.le6y-fiesta {
	background-color: fiesta;
}
.le6y-jester-red {
	background-color: rester-red;
}
.le6y-turmeric {
	background-color: turmeric;
}
.le6y-living-coral {
	background-color: living-coral;
}
.le6y-pink-peacock {
	background-color: pink-peacock;
}
.le6y-pepper-stem {
	background-color: pepper-stem;
}
.le6y-aspen-gold {
	background-color: aspen-gold;
}
.le6y-princess-blue {
	background-color: princess-blue;
}
.le6y-toffee {
	background-color: toffee;
}
.le6y-mango-mojito {
	background-color: mango-mojito;
}
.le6y-terrarium-moss {
	background-color: terrarium-moss;
}
.le6y-sweet-lilac {
	background-color: sweet-lilac;
}
.le6y-soybean {
	background-color: soybean;
}
.le6y-eclipse {
	background-color: eclipse;
}
.le6y-sweet-corn {
	background-color: sweet-corn;
}
.le6y-brown-granite {
	background-color: brown-granite;
}
.le6y-chili-pepper {
	background-color: chili-pepper;
}
.le6y-biking-red {
	background-color: biking-red;
}
.le6y-creme-de-peche {
	background-color: creme-de-peche;
}
.le6y-peach-pink {
	background-color: peach-pink;
}
.le6y-rocky-road {
	background-color: rocky-road;
}
.le6y-fruit-dove {
	background-color: fruit-dove;
}
.le6y-sugar-almond {
	background-color: sugar-almond;
}
.le6y-dark-cheddar {
	background-color: dark-cheddar;
}
.le6y-galaxy-blue {
	background-color: galaxy-blue;
}
.le6y-blue-stone {
	background-color: blue-stone;
}
.le6y-orange-tiger {
	background-color: orange-tiger;
}
.le6y-eden {
	background-color: eden;
}
.le6y-vanilla-custard {
	background-color: vanilla-custard;
}
.le6y-evening-blue {
	background-color: evening-blue;
}
.le6y-paloma {
	background-color: paloma;
}
.le6y-guacamole {
	background-color: guacamole;
}
.le6y-red-pear
{} 
.le6y-valiant-poppy
{} 
.le6y-nebulas-blue
{} 
.le6y-ceylon-yellow
{} 
.le6y-martini-olive
{} 
.le6y-russet-orange
{} 
.le6y-ultra-violet
{} 
.le6y-crocus-petal
{} 
.le6y-limelight
{} 
.le6y-quetzal-green
{} 
.le6y-sargasso-sea
{} 
.le6y-tofu
{} 
.le6y-almond-buff
{} 
.le6y-quiet-gray
{} 
.le6y-meerkat
{} 
.le6y-meadowlark
{} 
.le6y-cherry-tomato
{} 
.le6y-little-boy-blue
{} 
.le6y-chili-oil
{} 
.le6y-blooming-dahlia
{} 
.le6y-arcadia
{} 
.le6y-pink-emperador
{} 
.le6y-almost-mauve
{} 
.le6y-spring-crocus
{} 
.le6y-lime-punch
{} 
.le6y-sailor-blue
{} 
.le6y-harbor-mist
{} 
.le6y-warm-sand
{} 
.le6y-coconut-milk
{}

.le6y-greenery
{} 
.le6y-grenadine
{} 
.le6y-tawny-port
{} 
.le6y-ballet-slipper
{} 
.le6y-butterum
{} 
.le6y-navy-peony
{} 
.le6y-neutral-grey
{} 
.le6y-shaded-spruce
{} 
.le6y-golden-lime
{} 
.le6y-marina
{} 
.le6y-autumn-maple
{} 
.le6y-niagra
{} 
.le6y-primrose-yellow
{} 
.le6y-lapis-blue
{} 
.le6y-flame
{} 
.le6y-island-paradise
{} 
.le6y-pale-dogwood
{} 
.le6y-pink-yarrow
{} 
.le6y-kale
{} 
.le6y-hazelnut
{} 

.div {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
.le6y-theme-l5 {color:#000 !important; background-color:#f4faf4 !important}
.le6y-theme-l4 {color:#000 !important; background-color:#dbefdc !important}
.le6y-theme-l3 {color:#000 !important; background-color:#b7dfb8 !important}
.le6y-theme-l2 {color:#000 !important; background-color:#93cf95 !important}
.le6y-theme-l1 {color:#fff !important; background-color:#6ec071 !important}
.le6y-theme-d1 {color:#fff !important; background-color:#459c48 !important}
.le6y-theme-d2 {color:#fff !important; background-color:#3d8b40 !important}
.le6y-theme-d3 {color:#fff !important; background-color:#357a38 !important}
.le6y-theme-d4 {color:#fff !important; background-color:#2e6830 !important}
.le6y-theme-d5 {color:#fff !important; background-color:#265728 !important}

.le6y-theme-light {color:#000 !important; background-color:#f4faf4 !important}
.le6y-theme-dark {color:#fff !important; background-color:#265728 !important}
.le6y-theme-action {color:#fff !important; background-color:#265728 !important}

.le6y-theme {color:#fff !important; background-color:#4caf50 !important}
.le6y-text-theme {color:#4caf50 !important}
.le6y-border-theme {border-background-color:#4caf50 !important}

.le6y-hover-theme:hover {color:#fff !important; background-color:#4caf50 !important}
.le6y-hover-text-theme:hover {color:#4caf50 !important}
.le6y-hover-border-theme:hover {border-color:#4caf50 !important}

.le6y-border-red {
	border-color: red;
}









