/* Legendary.css 0.10a June 2023 by Noble HideToshi */
/* "Make it as simple as possible, but not simpler."
Albert Einstein */
html{  display: block;}
body{  display: block; }

.le6y-text {
	color: green;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight:400;
	margin:10px 0;
	font-size: 14px;
}
.le6y-box {
	display: block;
	background: black;
}
.le6y-container-block {
	display: block;
	width: 99%;
    margin-left: auto;
    margin-right: auto;
}
.le6y-container, .le6y-panel {
    padding: 0.01em 16px;
}
.le6y-image {

}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
.le6y-center {
    text-align: center!important;
}

.le6y-tn {
	font-size: 10px;
}
.le6y-sm {
	font-size: 12px;
}
.le6y-norm {
	font-size: 14px;
}
.le6y-la {
	font-size: 18px;
}
.le6y-2la {
	font-size: 24px;
}
.le6y-xl {
	font-size: 36px;
}
.le6y-2xl {
	font-size: 48px;
}
.le6y-max {
	font-size: 64px;
}
.le6y-left-align {
    text-align: left!important;
}
.le6y-right-align {
    text-align: right!important;
}
.le6y-wide {
    letter-spacing: 3px;
}
.le6y-opacity, .le6y-hover-opacity:hover {
    opacity: 0.64;
}
.le6y-shadow {
	text-shadow:1px 1px 0 #3f3f3f;
}
.le6y-none-shadow {
    box-shadow: none!important;
}
@media (min-width:993px){

}
@media (max-width:992px) and (min-width:769px){

}
@media (max-width:768px) and (min-width:601px){

}
@media (max-width:600px){

}
