/* Legendary.css 0.10a June 2023 by Noble HideToshi */
/* "Make it as simple as possible, but not simpler."
Albert Einstein */

.le6y-norm-1 {
    width: 4% !important;
}

.le6y-norm-2 {
    width: 8% !important;
}

.le6y-norm-3 {
    width: 12% !important;
}

.le6y-norm-4 {
    width: 16% !important;
}

.le6y-norm-5 {
    width: 19.99% !important;
}

.le6y-norm-6 {
    width: 24% !important;
}

.le6y-norm-7 {
    width: 28% !important;
}

.le6y-norm-8 {
    width: 32% !important;
}

.le6y-norm-9 {
    width: 36% !important;
}

.le6y-norm-10 {
    width: 40% !important;
}

.le6y-norm-11 {
    width: 44% !important;
}

.le6y-norm-12 {
    width: 48% !important;
}

.le6y-norm-13 {
    width: 52% !important;
}

.le6y-norm-14 {
    width: 56% !important;
}

.le6y-norm-15 {
    width: 60% !important;
}

.le6y-norm-16 {
    width: 64% !important;
}

.le6y-norm-17 {
    width: 68% !important;
}

.le6y-norm-18 {
    width: 72% !important;
}

.le6y-norm-19 {
    width: 76% !important;
}

.le6y-norm-20 {
    width: 80% !important;
}

.le6y-norm-21 {
    width: 84% !important;
}

.le6y-norm-22 {
    width: 88% !important;
}

.le6y-norm-23 {
    width: 92% !important;
}

.le6y-norm-24 {
    width: 96% !important;
}

.le6y-norm-25 {
    width: 100% !important;
}

.le6y-small-1 {
    width: 6.666% !important;
}

.le6y-small-2 {
    width: 13.333% !important;
}

.le6y-small-3 {
    width: 20% !important;
}

.le6y-small-4 {
    width: 26.666% !important;
}

.le6y-small-5 {
    width: 33.333% !important;
}

.le6y-small-6 {
    width: 40% !important;
}

.le6y-small-7 {
    width: 46.666% !important;
}

.le6y-small-8 {
    width: 53.333% !important;
}

.le6y-small-9 {
    width: 60% !important;
}

.le6y-small-10 {
    width: 66.666% !important;
}

.le6y-small-11 {
    width: 73.333% !important;
}

.le6y-small-12 {
    width: 80% !important;
}

.le6y-small-13 {
    width: 86.666% !important;
}

.le6y-small-14 {
    width: 93.333% !important;
}

.le6y-small-15 {
    width: 100% !important;
}

.le6y-tiny-1 {
    width: 7.69% !important;
}

.le6y-tiny-2 {
    width: 15.38% !important;
}

.le6y-tiny-3 {
    width: 23% !important;
}

.le6y-tiny-4 {
    width: 30.69% !important;
}

.le6y-tiny-5 {
    width: 38.38% !important;
}

.le6y-tiny-6 {
    width: 46% !important;
}

.le6y-tiny-7 {
    width: 53.69% !important;
}

.le6y-tiny-8 {
    width: 61.38% !important;
}

.le6y-tiny-9 {
    width: 69% !important;
}

.le6y-tiny-10 {
    width: 76.69% !important;
}

.le6y-tiny-11 {
    width: 84.38% !important;
}

.le6y-tiny-12 {
    width: 92% !important;
}

.le6y-tiny-13 {
    width: 100% !important;
}

.le6y-medium-1 {
    width: 8.33% !important;
}

.le6y-medium-2 {
    width: 16.66% !important;
}

.le6y-medium-3 {
    width: 25% !important;
}

.le6y-medium-4 {
    width: 32.33% !important;
}

.le6y-medium-5 {
    width: 41.66% !important;
}

.le6y-medium-6 {
    width: 50% !important;
}

.le6y-medium-7 {
    width: 58.33% !important;
}

.le6y-medium-8 {
    width: 66.66% !important;
}

.le6y-medium-9 {
    width: 75% !important;
}

.le6y-medium-10 {
    width: 85.33% !important;
}

.le6y-medium-11 {
    width: 91.66% !important;
}

.le6y-medium-12 {
    width: 100% !important;
}

.le6y-br-line {
    width: 100%;
    height: 1em;
}

.le6y-table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

.le6y-zebra tbody tr:nth-child(even) {
    background-color: #e3e3e3;
}

.le6y-bordered {
    border: 1px solid black;
}

.le6y-float-left {
    float: left;
}

.le6y-float-right {
    float: right;
}

.le6y-row {
    display: flex;
    flex: 0 0 auto;
}

.le6y-col {
    float: left;
    width: 100%;
    padding: 3px 0px;
}

.le6y-col-padding {
    float: left;
    padding: 3px 0px;
}

.le6y-row-padding {
    padding: 3px 0px;
}

.le6y-top-border-line {
    border-top: 1px solid #808080 !important;
    margin-top: 32px !important;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: #808080;
}

image,
img {
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;
    width: 100%;
    padding: 1px;
}

div {
    display: block;
}

.le6y-margin-1 {
    margin-left: 1px;
    margin-right: 1px;
}

.le6y-margin-2 {
    margin-left: 2px;
    margin-right: 2px;
}

.le6y-margin-3 {
    margin-left: 3px;
    margin-right: 3px;
}

.le6y-margin-4 {
    margin-left: 4px;
    margin-right: 4px;
}

.le6y-margin-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.le6y-padding-1 {
    padding-left: 1px;
    padding-right: 1px;
}

.le6y-padding-2 {
    padding-left: 2px;
    padding-right: 2px;
}

.le6y-padding-3 {
    padding-left: 3px;
    padding-right: 3px;
}

.le6y-padding-4 {
    padding-left: 4px;
    padding-right: 4px;
}

.le6y-padding-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.le6y-cell {
    display: table-cell;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 16px;
}

.le6y-table-row {
    display: table;
    width: 100%;
}

.le6y-vert-top {
    vertical-align: top;
}

.le6y-vert-middle {
    vertical-align: middle;
}

.le6y-vert-bottom {
    vertical-align: bottom;
}

.le6y-code {
    width: auto;
    background-color: #fff;
    color: #000;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word;
}

.le6y-code,
.le6y-codespan {
    font-family: Consolas, Menlo, "courier new", monospace;
    font-size: 16px;
}

.le6y-section,
.le6y-code {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.le6y-top,
.le6y-bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}

.le6y-top {
    top: 0
}

.le6y-bottom {
    bottom: 0
}

.le6y-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2
}

.le6y-display-topleft {
    position: absolute;
    left: 0;
    top: 0
}

.le6y-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.le6y-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.le6y-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}

.le6y-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.le6y-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.le6y-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.le6y-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.le6y-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.le6y-display-container:hover .le6y-display-hover {
    display: block
}

.le6y-display-container:hover span.le6y-display-hover {
    display: inline-block
}

.le6y-display-hover {
    display: none
}

.le6y-display-position {
    position: absolute
}

.le6y-circle {
    border-radius: 50%
}

.le6y-round-small {
    border-radius: 2px
}

.le6y-round,
.le6y-round-medium {
    border-radius: 4px
}

.le6y-round-large {
    border-radius: 8px
}

.le6y-round-xlarge {
    border-radius: 16px
}

.le6y-round-xxlarge {
    border-radius: 32px
}

.le6y-row-padding,
.le6y-row-padding>.le6y-half,
.le6y-row-padding>.le6y-third,
.le6y-row-padding>.le6y-twothird,
.le6y-row-padding>.le6y-threequarter,
.le6y-row-padding>.le6y-quarter,
.le6y-row-padding>.le6y-col {
    padding: 0 8px
}

.le6y-container,
.le6y-panel {
    padding: 0.01em 16px
}

.le6y-panel {
    margin-top: 16px;
    margin-bottom: 16px
}

.le6y-code,
.le6y-codespan {
    font-family: Consolas, Menlo, "courier new", monospace;
    font-size: 16px
}

.le6y-code {
    width: auto;
    background-color: #fff;
    color: #000;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word
}

.le6y-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%
}

.le6y-tooltip,
.le6y-display-container {
    position: relative;
}

.le6y-left {
    float: left !important;
}

.le6y-right {
    float: right !important;
}

@media (min-width:993px) {}

@media (max-width:992px) and (min-width:769px) {}

@media (max-width:768px) and (min-width:601px) {}

@media (max-width:600px) {}